/* general */

* {
    font-family: SFNS Display;
    font-size: 14px;
    line-height: 20px;
}
#header-bar.dialog {
    background-size: cover !important;
    background-position: center 60% !important;
    height: 75px;
    background-image: url('http://i.imgur.com/0FlBQ7c.jpg') !important;
    position: fixed !important;
}
body {
    padding-top: 50px !important;
    background: #F7F7F7!important;
    color: #454545;
    background-image: url('http://i.imgur.com/ot0vcRW.png')!important;
    background-position: right bottom!important;
    background-attachment: fixed!important;
    background-repeat: no-repeat!important;
    background-size: 33%!important;
    z-index: -1;
}
.boardTitle,
hr,
#togglePostFormLink,
td,
#bannerCnt,
#absbot.absBotText,
#footer-links,
.bottomCtrl.desktop,
#board-list,
#shortcuts {
    display: none!important;
}
a:link,
a.linkify:link,
a.quotelink:link {
    position: relative;
    transition-property: background-color, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    text-decoration: none;
    color: #5A7B8A !important;
}
a.linkify:link:hover,
a.quotelink:link:hover {
    background-color: #5A7B8A !important;
    color: #FCF3E8 !important;
}
/* catalog */

#delform {
    padding-left: 100px;
    padding-right: 100px;
}
.catalog-thread {
    background: #ffffff;
    border-radius: 5px;
    width: auto;
    padding: 5px 5px 5px 5px;
}
/* thread */

.subject {
    color: #5A7B8A !important;
}
.name {
    color: #A0BBB6 !important;
}
.pages a,
.summary,
.dateTime,
.file-info {
    color: #a6a6a6 !important;
}
.navLinks {
    padding: 40px 50px 3px 0px;
    text-align: right;
}
.thread {
    padding-left: 100px;
    padding-right: 50px;
}
.reply,
.replyhl,
#post-reply {
    border-radius: 5px;
    padding: 5px 5px 5px 5px !important;
    width: 650px;
    height: auto;
    background: #ffffff !important;
}
.quote {
    color: #B7CE7D !important;
}